.fill {
  display: flex;
  width: 100%;
  height: 100%;
}

.tooltip {
  position: absolute;
  text-align: center;
  background: lightsteelblue;
  border-radius: 0.5rem;
  pointer-events: none;
  padding: 0.5rem;
}